
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-repeat: no-repeat;

    &_face {
        overflow: hidden;
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url("../media/section/face.jpg");
        background-position: center;
        background-size: cover;
    }

    &_time {
        background-color: #fff;
        overflow: hidden;
    }

    &_indicators {
        background-image: url("../media/section/indicators.jpg");
        background-position: center;
        background-size: cover;
    }

    &_problem {
        padding-top: 110px;
        background-image: url("../media/section/problem.jpg");
        background-position: center bottom;
        background-size: cover;
        overflow: hidden;
    }

    &_role {
        background-image: url("../media/section/role.jpg");
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }

    &_extract {
        position: relative;
        overflow: hidden;
        background-color: #f2f9fc;
    }

    &__list-extract {
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;

        &-1 {
            top: 50%;
            left: 115px;
            width: 107px;
            height: 97px;
            background-image: url('../media/extract/list-1.png');
        }

        &-2 {
            top: 80%;
            right: 60px;
            width: 97px;
            height: 116px;
            background-image: url('../media/extract/list-2.png');
        }
    }

    &_age {
        position: relative;
        background-image: url("../media/section/age.jpg");
        background-position: center;
        background-size: cover;
        background-color: #f1f1f1;

        & .section__list-age {
            position: absolute;
            top: 50%;
        }
    }
}

@media (max-width: 1390px) {
    .section__list-extract-1 {
        top: 35%;
    }

    .section__list-extract-2 {
        top: 35%;
    }
}

@media (max-width: 1250px) {
    .section__list-age {
        display: none;
    }
}

@media (max-width: 1024px) {
    .section__list-extract-1 {
        top: 80%;
    }

    .section__list-extract-2 {
        top: 80%;
    }

    .section__list-age {
        display: block;
        top: 150px !important;
        left: -50px !important;
    }
}

.section__title {
    position: relative;
    font-size: 44px;
    color: #d2ada5;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;

    &::before {
        position: absolute;
        top: 0;
        left: calc(100% + 18px);
        width: 104px;
        height: 45px;
        content: "";
        background-image: url("../media/section/title-eclipse.png");
        background-position: center;
        background-size: cover;
    }

    &_black {
        color: #24384e;
    }

    &_eclipse-right {
        &::before {
            left: auto;
            right: calc(100% + 18px);
            background-image: url("../media/section/title-eclipse-gray.png");
        }
    }
}

@media (max-width: 1024px) {
    .section {
        &_age {
            padding-top: 310px !important;
            background-image: url("../media/section/age-1024.jpg");
            background-position: center top;
            background-size: auto;
        }
    }
}

@media (max-width: 768px) {
    .section {
        &_indicators {
            padding-top: 505px !important;
            background-image: url("../media/section/indicators-768.jpg");
            background-position: center top;
            background-size: auto;
        }
    }
}

@media (max-width: 480px) {
    .section__title {
        font-size: 36px;
    }

    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_extract {
            padding-bottom: 60px;
        }
    }
}
