<section class="section section_age">
    <div class="section__list-age"><img src="../media/age/list.png" alt=""></div>
    <div class="container">
        <div class="age">
            <h2 class="section__title section__title_black section__title_eclipse-right section__title_left age__title">С какими возрастными дефектами кожи справляется</h2>
            <div class="age__logo">intenskin</div>
            <div class="age__list">
                <div class="age__item">морщины вокруг рта, глаз, на лбу, опущение уголков рта и глаз</div>
                <div class="age__item">мешки под глазами, отечность, опущение верхнего века, круги под глазами</div>
                <div class="age__item">носогубные складки, тусклый цвет лица, нечеткость овала</div>
            </div>
            <div class="age__btn">заказать</div>
        </div>
    </div>
</section>