<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="commits__head">
                <h2 class="section__title section__title_black section__title_eclipse-right section__title_left commits__title">Реальные пациенты. Реальные результаты</h2>
            </div>
            <div class="commits__body">
                <div class="commits__slider owl-carousel js-commits__slider">
                    <div class="commits__item">
                        <div class="commits__media">
                            <img src="../media/commits/img-1.jpg" alt="">
                            <div class="commits__name">Ольга, 56 лет</div>
                        </div>
                        <div class="commits__info">
                            <div>“Даже не думала, что всего за 3 месяца использования крема можно добиться такого эффекта. Спасибо, Intenskin!”</div>
                            <div><span>Признаки старения:</span> 
                                <ul>
                                    <li>- обвисание тканей лица</li>
                                    <li>- глубокие морщины</li>
                                    <li>- невыраженный контур линии нижней челюсти</li>
                                </ul>    
                            </div>
                            <div><span><b>После трех месяцев применения Intenskin:</b></span>
                                <ul>
                                    <li>+ разглаживание носогубных складок</li>
                                    <li>+ четко очерченная линия нижней челюсти</li>
                                    <li>+ восстановление объема на щеках 
                                    и висках</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="commits__item">
                        <div class="commits__media">
                            <img src="../media/commits/img-1.jpg" alt="">
                            <div class="commits__name">Ольга, 56 лет</div>
                        </div>
                        <div class="commits__info">
                            <div>“Даже не думала, что всего за 3 месяца использования крема можно добиться такого эффекта. Спасибо, Intenskin!”</div>
                            <div><span>Признаки старения:</span> 
                                <ul>
                                    <li>- обвисание тканей лица</li>
                                    <li>- глубокие морщины</li>
                                    <li>- невыраженный контур линии нижней челюсти</li>
                                </ul>    
                            </div>
                            <div><span><b>После трех месяцев применения Intenskin:</b></span>
                                <ul>
                                    <li>+ разглаживание носогубных складок</li>
                                    <li>+ четко очерченная линия нижней челюсти</li>
                                    <li>+ восстановление объема на щеках 
                                    и висках</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="commits__item">
                        <div class="commits__media">
                            <img src="../media/commits/img-1.jpg" alt="">
                            <div class="commits__name">Ольга, 56 лет</div>
                        </div>
                        <div class="commits__info">
                            <div>“Даже не думала, что всего за 3 месяца использования крема можно добиться такого эффекта. Спасибо, Intenskin!”</div>
                            <div><span>Признаки старения:</span> 
                                <ul>
                                    <li>- обвисание тканей лица</li>
                                    <li>- глубокие морщины</li>
                                    <li>- невыраженный контур линии нижней челюсти</li>
                                </ul>    
                            </div>
                            <div><span><b>После трех месяцев применения Intenskin:</b></span>
                                <ul>
                                    <li>+ разглаживание носогубных складок</li>
                                    <li>+ четко очерченная линия нижней челюсти</li>
                                    <li>+ восстановление объема на щеках 
                                    и висках</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="commits__nextPrev">
                    <span><<< Предыдущий отзыв</span>
                    <span>Следующий отзыв >>></span>
                </div>
            </div>
        </div>
    </div>
</section>