<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">intenskin</div>
                <div class="face__subtitle">Нехирургическое омоложение <span><mark>Неоколлагенез</mark> в глубоких слоях дермы</span></div> 
                <div class="face__product">
                    <img src="../media/product.png" alt="">
                    <div class="face__product-circle">
                        <div class="face__product-list"></div>
                    </div>
                    <div class="face__product-bg"></div>
                </div>
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>