<form class="form" data-aos="fade-left">
    <div class="form__body">
        <div class="form__head">
            <p><span>Скидка</span> на первый заказ:</p>
            <div class="form__discont"><span>-50%</span></div>
        </div>
        <div class="form__price">
            <div class="form__price-new">цена со скидкой: <span>990₽</span></div>
            <div class="form__price-old">старая цена: <span>2200₽</span></div>
        </div>
        <label class="form__label">
            <select class="form__field form__select">
                <option selected="" value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <span>Страна</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Имя</span>
        </label>
        <label class="form__label">
            <input type="text" class="form__field">
            <span>Телефон</span>
        </label>
        <button class="form__btn">Заказать</button>
    </div>
    <div class="form__time">
        <div class="form__time-title">до конца акции:</div>
        <div class="form__time-box">
            <div class="form__time-count">
                <span>00</span>
                <span>часов</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>21</span>
                <span>минут</span>
            </div>
            <span>:</span>
            <div class="form__time-count">
                <span>48</span>
                <span>секунд</span>
            </div>
        </div>
    </div>
</form>