<section class="section section_indicators">
    <div class="container">
        <div class="indicators">
            <h2 class="section__title section__title_black section__title_left indicators__title">Лицо и шея – <span>это главные <br> индикаторы возраста.</span></h2>
            <div class="indicators__list">
                <div class="indicators__item">
                    <div class="indicators__media"></div>
                    <div class="indicators__description">Именно на этих участках кожа подвержена наиболее быстрому старению, потере упругости, образованию морщин и гиперпигментации.</div>
                </div>
                <div class="indicators__item">
                    <div class="indicators__media"></div>
                    <div class="indicators__description">С возрастом теряется четкость овала, под действием гравитации происходит обвисание тканей, появляется усталое выражение лица.</div>
                </div>
                <div class="indicators__item">
                    <div class="indicators__media"></div>
                    <div class="indicators__description">Ошибочно полагать, что единственный путь избавления от «усталости» кожи, морщин, отечности и дряблости – хирургический. Остановить старение и повернуть время вспять можно с помощью новейших косметических средств.</div>
                </div>
            </div>
        </div>
    </div>
</section>