<section class="section section_problem">
    <div class="container">
        <div class="problem">
            <h2 class="section__title section__title_black problem__title">все дело в коллагене</h2>
            <div class="problem__subtitle">Этот белок представляет собой одну из важных опорных структур нашей кожи. <span>Благодаря нему поддерживается упругость, эластичность и плотность кожи</span></div>
            <div class="problem__media"><img src="../media/problem/kol.png" alt=""></div>
            <div class="problem__body">
                <div class="problem__list problem__list_1"><img src="../media/problem/list-1.png" alt=""></div>
                <div class="problem__list problem__list_2"><img src="../media/problem/list-2.png" alt=""></div>
                <div class="problem__body-title">Как остановить старение кожи?</div>
                <div class="problem__important"><span><img src="../media/problem/!.png" alt=""></span><p>Неоколлагенез – процесс образования организмом молекул фибриллярного белка – коллагена, который повышает прочность и эластичность кожи.</p></div>
                <p>Клетки стареющей кожи производят низкое количество коллагена и высокое количество коллагенразрушающих энзимов, такой дисбаланс делает процесс старения необратимым.</p>
                <p>Клинически доказано, что <mark>нанесение на поверхность кожи средств, содержащих глицирризиновую кислоту,</mark> стимулирует продуцирование нового, неповрежденного коллагена</p>
                <p>Связывание клеток с новым коллагеном повышает эластичность, что в свою очередь, <mark>улучшает баланс продуцирования и разложения коллагена, замедляя процесс старения</mark></p>
                <div class="problem__box">
                    <div class="problem__head">
                        <span>До</span>
                        <span>После</span>
                    </div>
                    <div class="problem__footer">
                        <div class="problem__item">
                            <img src="../media/problem/item-1.png" alt="">
                        </div>
                        <div class="problem__item">
                            <img src="../media/problem/item-2.png" alt="">
                        </div>
                        <div class="problem__item">
                            <img src="../media/problem/item-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>