<section class="section section_role">
    <div class="container">
        <div class="role">
            <div class="role__box">
                <div class="role__logo">intenskin</div>
                <h2 class="section__title role__title">стирает возраст с лица</h2>
                <div class="role__info">
                    Препарат, отвечающий самым высоким стандартам безопасности, который обеспечивает результаты на длительный срок.
                    <span><mark>Intenskin использует естественную реакцию организма для образования собственного коллагена.</mark></span>
                    Таким образом, формируется каркас коллагеновых волокон для восстановления и сохранения четкого контура лица
                </div>
                <div class="role__btn">заказать</div>
            </div>
            <div class="role__box face">
                <div class="face__product">
                    <img src="../media/product.png" alt="">
                    <div class="face__product-circle">
                        <div class="face__product-list"></div>
                    </div>
                    <div class="face__product-bg"></div>
                </div>
            </div>
        </div>
    </div>
</section>