<section class="section section_time">
    <div class="container">
        <div class="time">
            <img src="../media/time/list-1.png" alt="" class="time__list time__list_1">
            <img src="../media/time/list-2.png" alt="" class="time__list time__list_2">
            <img src="../media/time/list-3.png" alt="" class="time__list time__list_3">
            <div class="time__media twentytwenty-container">
                <img src="../media/time/face-1.jpg" alt="">
                <img src="../media/time/face-2.jpg" alt="">
            </div>
            <div class="time__body">
                <h2 class="section__title section__title_black section__title_left time__title">Время идет незаметно, <span>но неизбежно оставляет следы на нашей внешности.</span></h2>
                <p>
                    <span>Карьера, дети, быт – в повседневной <br> суматохе женщины зачастую забывают о себе и <br> пренебрегают уходом собой.</span>
                    <span>И вот, встав однажды утром, <br> <b>вы видите в отражении зеркала какую-то <br> незнакомую, уставшую возрастную женщину…</b></span>
                    <span><b>Думаете, вас спасет только пластика?</b></span>
                    <span><mark>Вы ошибаетесь! <br> И мы готовы это доказать.</mark></span>
                </p>
            </div>
        </div>
    </div>
</section>