<section class="section section_top">
    <div class="container container__fluid">
        <div class="top">
            <div class="top__media"><img src="../media/top/bg.jpg" alt=""></div>
            <div class="top__info">
                <h2 class="section__title section__title section__title_black top__title">intenskin</h2>
                <div class="top__subtitle">выбор ведущих косметологов</div>
                <div class="top__description">
                    <p>Сохранить молодость и вернуть былую упругость коже – мечта многих женщин. Но мало кто знает, как правильно подойти к решению этой задачи. Я постоянно тестирую
                        на себе и своих пациентах различные косметические средства. Увы, немногие отвечают всем
                        заявленным характеристикам.
                        <b>Intenskin же превзошел все мои ожидания.</b></p>
                    <p>Это не просто базовый ежедневный уход.
                        Эффект от применения Intenskin сопоставим с самыми действенными косметологическими процедурами.
                        А в чем-то даже превосходит их.</p>
                    <p>Татьяна Антонова, врач-косметолог, заведующая кафедрой дерматологии и косметологии</p>
                </div>
                <div class="top__id"><img src="../media/top/id.png" alt=""></div>
            </div>
        </div>
    </div>
</section>